In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("DICOMES.xlsx", sheet_name='RESUMEN')
print(df.head())

                           RESUMEN Unnamed: 1 Unnamed: 2 Unnamed: 3  \
0                           EVENTO      FOTOS       POST     VIDEOS
1                Consejo Académico         10        NaN        NaN
2           Consejo Administrativo          5        NaN        NaN
3                    ORATORIA 2021          4          6          2
4  ANIVERSARIO X DE CINEMI - FOTOS          3          3        NaN

  Unnamed: 4 Unnamed: 5 Unnamed: 6
0    MENSAJE    NOTICIA      CHECK
1        NaN          2      LISTO
2        NaN          3      LISTO
3          3          2      LISTO
4          2          1      LISTO

# TABLE RESUMEN

CHANGES AND EDIT RESUMEN TABLE

In [3]:
df_new = df.rename(columns={'RESUMEN' : 'EVENTO',
                            'Unnamed: 1' : 'FOTOS',
                            'Unnamed: 2' : 'POST',
                            'Unnamed: 3' : 'VIDEOS',
                            'Unnamed: 4' : 'MENSAJE',
                            'Unnamed: 5' : 'NOTICIAS',
                            'Unnamed: 6' : 'CHECK'})
#drop total
df_new.drop([0,306], inplace = True)

#drop NaN
nan_value = float("NaN")

df_new.replace("", nan_value, inplace=True)

df_new.dropna(subset = ['EVENTO'], inplace = True)

df_new.replace(np.nan, 0, inplace = True)

df_new['CHECK'] = df_new['CHECK'].replace(0, 'LISTO')

df_new = df_new.reset_index()
df_new.drop(columns=['index'], inplace=True)

df_new

,EVENTO,FOTOS,POST,VIDEOS,MENSAJE,NOTICIAS,CHECK
0,Consejo Académico,10,0,0,0,2,LISTO
1,Consejo Administrativo,5,0,0,0,3,LISTO
2,ORATORIA 2021,4,6,2,3,2,LISTO
3,ANIVERSARIO X DE CINEMI - FOTOS,3,3,0,2,1,LISTO
4,Primer Foro de Panamá “Observaciones de la Tie...,3,2,0,3,2,LISTO
...,...,...,...,...,...,...,...
292,"Reunión del Consejo de Investigación, Postgrad...",0,0,0,0,1,LISTO
293,Reunión Ordinaria del Consejo de Investigación,0,0,0,0,1,LISTO
294,Reunión Ordinaria Virtual del Consejo General ...,0,0,0,0,1,LISTO
295,Se reúne Consejo Académico de la UTP,0,0,0,0,1,LISTO
296,UTP Azuero realiza la Jornada de Iniciación Ci...,0,0,0,0,1,LISTO

# UTILS FUNCTIONS

In [11]:
def CleanerFunction(data, name):
    #drop 0 row
    data.drop([0], inplace = True)

    #drop NaN
    nan_value = float("NaN")
    data.replace("", nan_value, inplace=True)
    data.dropna(subset = [name], inplace = True)

    data.drop(index=data.index[-1],axis=0,inplace=True)
    
    #replace NaN
    data['CHECK'] = data['CHECK'].replace(np.nan, 'N')
    return(data)

# Added table by services type
table all services type, like foto, video, menssage, post and news

In [12]:
df2 = pd.read_excel("DICOMES.xlsx", sheet_name='BY TYPE')
df2

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,FOTOGRAFIAS,CANTIDAD,CHECK,NaN,POST,CANTIDAD,CHECK,NaN,VIDEOS,CANTIDAD,CHEKC,NaN,MENSAJES,CANTIDAD,CHECK,NaN,NOTICIAS,CANTIDAD,CHECK
1,Consejo Académico,10,S,NaN,40 Aniversario de la UTP.,70,S,NaN,“Retrospectiva 40 años de I+D+i” VIPE,3,S,NaN,Alocución,29,S,NaN,Rector de la UTP presenta informe anual ante C...,2,S
2,Consejo Administrativo,5,S,NaN,Alocución,69,S,NaN,Semana de Francia,3,S,NaN,cumpleaños DGRH MENSUAL,26,NaN,NaN,Vigésimo Aniversario de la Escuela de Aviación...,2,S
3,“Retrospectiva 40 años de I+D+i” VIPE,3,S,NaN,Curso de Portugués,11,S,NaN,Ya puedes pagar tu matrícula y servicios con t...,2,S,NaN,Reiterar cumplimiento de medidas de biosegurid...,20,NaN,NaN,VIII Ciclo de Conferencia I+D,2,NaN
4,"Consejo de Investigación, Postgrado y Extensión",3,S,NaN,Curso de Mandarín,11,S,NaN,40 Aniversario de la UTP.,2,S,NaN,Verificación para Validarte y Ejercer tu Derec...,19,NaN,NaN,Facultad de Ingeniería Mecánica celebra su Ani...,2,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Venta Libros de Precálculo y Matemática Básica...,1,NaN,NaN,NaN,NaN,NaN
419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Webinar Economía Circular,1,NaN,NaN,NaN,NaN,NaN
420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Webinar Intercambio de Experiencias en Proyect...,1,S,NaN,NaN,NaN,NaN
421,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Webinar sobre Empleabilidad STEM,1,NaN,NaN,NaN,NaN,NaN
422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,189,554,54,NaN,NaN,NaN,NaN

# Create a diferents tables by types

In [13]:
#cleaner df2
df_foto = df2[['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2']].copy()

label = 'FOTOGRAFÍA'

df_foto.rename(columns={'Unnamed: 0' : label,
                        'Unnamed: 1' : 'CANTIDAD',
                        'Unnamed: 2' : 'CHECK'}, inplace = True)


df_foto = CleanerFunction(df_foto, label)

df_foto

                                            FOTOGRAFÍA CANTIDAD CHECK
1                                    Consejo Académico       10     S
2                               Consejo Administrativo        5     S
3                “Retrospectiva 40 años de I+D+i” VIPE        3     S
4      Consejo de Investigación, Postgrado y Extensión        3     S
5                                      Consejo General        3     N
..                                                 ...      ...   ...
338  Webinar:\nDesarrollo de Proyectos de CINEMI vi...        1     N
339  XVIII Congreso Nacional de Ciencias y Tecnolog...        1     N
340  XVIII Congreso Nacional de Ciencias y Tecnolog...        1     N
341                            XXV Aniversario de FCyT        1     S
342  XXVII CONGRESO DE LA FII"Transformando líderes...        1     N

[342 rows x 3 columns]

In [14]:
#cleaner df2
df_post = df2[['Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6']].copy()

label = 'POST'

df_post.rename(columns={'Unnamed: 4' : label,
                        'Unnamed: 5' : 'CANTIDAD',
                        'Unnamed: 6' : 'CHECK'}, inplace = True)

df_post = CleanerFunction(df_post, label)

df_post

                                                  POST CANTIDAD CHECK
1                            40 Aniversario de la UTP.       70     S
2                                            Alocución       69     S
3                                   Curso de Portugués       11     S
4                                    Curso de Mandarín       11     S
5                                      Curso de Inglés       10     S
..                                                 ...      ...   ...
298  Video Reportaje Estudiantes de pueblos origina...        1     S
299          Webinar de Financiamiento a Emprendedores        1     S
300  Webinar Realidades y Prospectiva de la Educaci...        1     S
301                     Webinar: Del Clúster a la Nube        1     S
302  Webinar: Intercambio de Experiecias en Proyect...        1     S

[302 rows x 3 columns]

In [15]:
#cleaner df2
df_video = df2[['Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10']].copy()

label = 'VIDEO'

df_video.rename(columns={'Unnamed: 8' : label,
                         'Unnamed: 9' : 'CANTIDAD',
                         'Unnamed: 10' : 'CHECK'}, inplace = True)



df_video = CleanerFunction(df_video, label)

df_video

                                                VIDEO CANTIDAD CHECK
1               “Retrospectiva 40 años de I+D+i” VIPE        3     S
2                                   Semana de Francia        3     S
3   Ya puedes pagar tu matrícula y servicios con t...        2     S
4                           40 Aniversario de la UTP.        2     S
5   3er año de gestión y mejoramiento continuo (20...        1     S
..                                                ...      ...   ...
85                       Video reportaje 40 años RRHH        1     S
86  Webinar sobre Efectividad de Vacunas y Medicam...        1     S
87                     WEBINAR TRANSFORMACIÓN DIGITAL        1     S
88  X Aniversario de la Editorial Universitaria de...        1     S
89  XII Ceremonia de Imposición de Cascos Ingenier...        1     S

[89 rows x 3 columns]

In [16]:
#cleaner df2
df_mensaje = df2[['Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14']].copy()

label = 'MENSAJE'

df_mensaje.rename(columns={'Unnamed: 12' : label,
                          'Unnamed: 13' : 'CANTIDAD',
                          'Unnamed: 14' : 'CHECK'}, inplace = True)




df_mensaje = CleanerFunction(df_mensaje, label)


df_mensaje

                                               MENSAJE CANTIDAD CHECK
1                                            Alocución       29     S
2                              cumpleaños DGRH MENSUAL       26     N
3    Reiterar cumplimiento de medidas de biosegurid...       20     N
4    Verificación para Validarte y Ejercer tu Derec...       19     N
5                           Actividades de Aniversario       18     S
..                                                 ...      ...   ...
417  Venta de libros de precálculo y matemática bás...        1     N
418  Venta Libros de Precálculo y Matemática Básica...        1     N
419                          Webinar Economía Circular        1     N
420  Webinar Intercambio de Experiencias en Proyect...        1     S
421                   Webinar sobre Empleabilidad STEM        1     N

[421 rows x 3 columns]

In [17]:
#cleaner df2
df_noticia = df2[['Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18']].copy()

label = 'NOTICIA'

df_noticia.rename(columns={'Unnamed: 16' : label,
                           'Unnamed: 17' : 'CANTIDAD',
                           'Unnamed: 18' : 'CHECK'}, inplace = True)


df_noticia = CleanerFunction(df_noticia, label)

df_noticia

                                               NOTICIA CANTIDAD CHECK
1    Rector de la UTP presenta informe anual ante C...        2     S
2    Vigésimo Aniversario de la Escuela de Aviación...        2     S
3                        VIII Ciclo de Conferencia I+D        2     N
4    Facultad de Ingeniería Mecánica celebra su Ani...        2     S
5                   Consejo General de la UTP se reúne        2     S
..                                                 ...      ...   ...
337  Webinar: Aplicación de Diseño Instruccional al...        1     N
338                 Workshop de Investigación Aplicada        1     N
339                Workshop Virtual del Proyecto STINT        1     N
340  X Aniversario de la Editorial Universitaria de...        1     S
341  XXII Aniversario del Centro Especializado en L...        1     S

[341 rows x 3 columns]

In [18]:
event = 'Consejo General'
for row in df_foto.index:
    if (event == df_new['EVENTO'][row]):
        print(row, '--> ',df_new['EVENTO'][row])
    else:
        if event == df_foto['FOTOGRAFÍA'][row]:
            cantidad = df_foto['CANTIDAD'][row]
            print(df_foto['FOTOGRAFÍA'][row],': ' ,cantidad)
#df_foto.loc[df_new['EVENTO'] == event]

Consejo General :  3

KeyError: 297